<h1>Upcoming Events</h1>
<form action="http://google.com">
    <input type="submit" value="Get Involved">
</form>

<form action="mailto: umichdc@yahoo.com">
    <input type="submit" value="Contact Us">
</form>
<p>Find me in app/views/static/about.html.erb</p>
