<!DOCTYPE html>
<html>
<head>
  <title>Welcome To UMDC</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Welcome to UMDC. Fill in the Quiz questions below.</h1>
<p>Find me in app/views/static/index.html.erb</p>
<class="image">

<%= yield %>

</body>
</html>
