
header {
  background-color: #f8f320;
  color: #1d1d01;

}

h1 {
	text-decoration: bold;
	color: white;
	background-color: DarkBlue;
	padding: 15px;
	padding-top: 30px;
	margin: 10px;
  width: 700px;
}

p {
	color: #101412;
}

body {
  background-color: #77776e;
  color: #ffffff;
  background-image: url('block m.jpg');
}

footer {
  background-color: #77776e;
  color: #ffffff;
}

thead {
  color: black;
}

btn square {
	background-color: #60d79c;
}

#user_nav {
	color: white;
  float: right;
  margin-top: 5px;
  margin-right: 20px;
}

img.card {
  height: 100px;
  width: 100px;
  margin: 5px;
}

#board {
  margin: 20px;
  width: 500px;
}

#btn {
  width: 300px;
  background-color: yellow;
  color: white;
  margin: 10px;
  padding: 5px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  border: black solid 1px;
}
// put bold instructions on the top "answer the quiz questions below and be entered into.... make sure you check out our upcoming events and social media"
// create box at the top in maize with boxes to connect to twitter linked in facebook, instagram, and the website

// create a faded background image of the michigan M

// have 3 nicely designed quiz questions (that can be updated)

// then a submit (contact in a footer at the bottom)

