<!DOCTYPE html>
<html>
<head>
  <title>Umdc</title>
  <%= stylesheet_link_tag    "custom", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>

<%= yield %>



</body>
</html>
